<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    In Info
  </p>

   <!-- {{ic.currentUserInformation.list[0]}}  -->

   <p>
    <br>
    first name : {{ic.currentUserInformation.list[0].firstname}}
    <br>
    last name : {{ic.currentUserInformation.list[0].lastname}}
    <br>
    address : {{ic.currentUserInformation.list[0].address}}
    <br>
    household size : {{ic.currentUserInformation.list[0].householdsize}}
    <br>
    phonenumber : {{ic.currentUserInformation.list[0].phonenumber}}
  </p> 
</div>